<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" th:href="@{/images/favicon.ico}" />
	<title>Models List</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row row-flex">
			<div  class=" col-md-4 col-xs-12 col-sm-4 col-lg-4">
			<form >
				<button class="btn btn-md btn-link btn-block" type="Submit">ви увійшли як  <span th:text="${#httpServletRequest.remoteUser}"> </span></button>
			</form>
		</div>

		<div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
			<form th:action="@{/viasat/allOrdersList}" method="get">
				<button class="btn btn-md btn-success btn-block" type="Submit">Всі заявки</button>
			</form>
		</div>

		<div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
			<form th:action="@{/viasat/companyRegistration}" method="get">
				<button class="btn btn-md btn-warning btn-block" type="Submit">Додати нову організацію</button>
			</form>
		</div>
		<div class=" col-md-3 col-xs-12 col-sm-3 col-lg-3" >
			<form th:action="@{/viasat/deliveryAddressRegistration}" method="get">
				<button class="btn btn-md btn-warning btn-block" type="Submit">Додати нову адресу доставки</button>
			</form>
		</div>
		<div class=" col-md-1 col-xs-12 col-sm-1 col-lg-1" >
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Вийти</button>
			</form>
		</div>
	</div>
</div>
	<div class="container">
			<h2>Список організацій</h2>
			<table class="table table-striped">
				<tr>
					<th>Назва</th>
					<th>Тип</th>
				</tr>
				<tr th:each="company : ${allCompanies}">
					<td th:text="${company.name}">Name</td>
					<td th:text="${company.type}">Type</td>

				</tr>
			</table>

	</div>
</body>
</html>
