<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" th:href="@{/images/favicon.ico}" />
	<title>User Edit Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row row-flex">
		<div  align="center" class=" col-md-4 col-xs-12 col-sm-4 col-lg-4" style="background-color:lavender" >
			<div class="text"><p> ви увійшли як  <span th:text="${#httpServletRequest.remoteUser}"> </span></p></div>
		</div>

		<div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6" style="background-color:lavenderblush">
			<form th:action="@{/admin/allUsers}" method="get">
				<button class="btn btn-md btn-info btn-block" type="Submit">Переглянути список усіх користувачів</button>
			</form>
		</div>
		<div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Logout</button>
			</form>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form autocomplete="off" action="#" th:action="@{/viasat/editOrder}"
				  th:object="${order}" method="post" class="form-horizontal" role="form">
				<h2>Форма редагування заявки</h2>

				<input type="hidden" th:field="*{id}"/>

				<div class="form-group">
					<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
							   class="validation-message"></label>
						<input type="text" th:field="*{quantity}"
							   placeholder="Кількість"  class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<button type="submit" class="btn btn-primary btn-block">Внести зміни</button>
					</div>
				</div>
				<span th:utext="${successMessage}"></span>
			</form>
		</div>
	</div>
</div>

</body>
</html>