<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" th:href="@{/images/favicon.ico}" />
	<title>Order Creation Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--<script src="jquery.chained.min.js"></script>-->
</head>
<body>
<div class="container-fluid">
	<div class="row row-flex">
		<div  class=" col-md-4 col-xs-12 col-sm-4 col-lg-4">
			<form >
				<button class="btn btn-md btn-link btn-block" type="Submit">ви увійшли як  <span th:text="${#httpServletRequest.remoteUser}"> </span></button>
			</form>
		</div>
        <div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
	      <form th:action="@{/viasat/allOrdersList}" method="get">
		      <button class="btn btn-md btn-success btn-block" type="Submit">Всі заявки</button>
	      </form>
        </div>
		<div class=" col-md-4 col-xs-12 col-sm-4 col-lg-4" >
			<form th:action="@{/viasat/assignedOrdersList}" method="get">
				<button class="btn btn-md btn-info btn-block" type="Submit">Заявки на погодженні</button>
			</form>
		</div>
		<div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Вийти</button>
			</form>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form autocomplete="off" action="#" th:action="@{/viasat/order}"
				  th:object="${order}" method="post" class="form-horizontal" role="form">
				<h2>Форма створення заявки</h2>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" th:field="*{quantity}"
							   placeholder="Кількість"  class="form-control" />
						<label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
							   class="validation-message"></label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9">
						<label>Модель</label>
						<select th:field="*{model}">
							<option th:each="model : ${listAllModels}" th:value="${{model.name}}" th:text="${model.name}">
							</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" th:field="*{name}" placeholder="Ім'я отримувача"
							   class="form-control" /> <label
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							class="validation-message"></label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" th:field="*{surname}" placeholder="Призвище отримувача"
							   class="form-control" /> <label
							th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
							class="validation-message"></label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<input type="text" th:field="*{phone}" placeholder="Телефон отримувача"
							   class="form-control" /> <label
							th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
							class="validation-message"></label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<label>Партнер</label>
						<select id="company" name="company" th:field="*{company}">
							<option th:each="company: ${listAllCompanies}" th:value="${company.name}" th:text="${company.name}"></option>
						</select>

					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<label>Адреса доставки</label>
						<select id="series" name="series" th:field="*{address}">
							<option th:each="deliveryAddress: ${listAllDeliveryAddresses}" th:value="${deliveryAddress.address}" th:text="${deliveryAddress.address}"></option>
						</select>

					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-9">
						<button type="submit" class="btn btn-primary btn-block">Створити заявку</button>
					</div>
				</div>

				<span th:utext="${successMessage}"></span>

			</form>
		</div>
	</div>
</div>

</body>
</html>