<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" th:href="@{/images/favicon.ico}" />
	<title>Users List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row row-flex">
		<div  align="center" class=" col-md-3 col-xs-12 col-sm-3 col-lg-3" style="background-color:lavender" >
			<div class="text"><p> ви увійшли як  <span th:text="${#httpServletRequest.remoteUser}"> </span></p></div>
		</div>
		<div class=" col-md-6 col-xs-12 col-sm-6 col-lg-6" >
			<form th:action="@{/admin/userRegistration.html}" method="get">
				<button class="btn btn-md btn-warning btn-block" type="Submit">Створити нового користувача</button>
			</form>
		</div>
		<div class=" col-md-3 col-xs-12 col-sm-3 col-lg-3" >
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Вийти</button>
			</form>
		</div>
	</div>
</div>
	<div class="container">
			<h2>Список користувачів</h2>
			<table class="table table-striped">
				<tr>
					<th>Прізвище та ім'я</th>
					<th>E-Mail</th>
					<th>Тип користувача</th>
					<th>Організація</th>
					<th>Редагувати</th>
				</tr>
				<tr th:each="user : ${allUsers}">
					<td th:text="${user.name}">Name</td>
					<td th:text="${user.email}">E-Mail</td>
					<td th:text="${user.userType}">Type</td>
					<td th:text="${user.company}">Company</td>
					<td><a th:href="${'/admin/userEdit/' + user.id}"> Edit</a></td>
				</tr>
			</table>

		</div>
	</body>
</html>
